.Header {
	flex-grow: 1;
	margin-bottom: 70px;
	display: flex;
}

.navBar {	
	position: fixed !important;
	top: 0px !important; 
}

.menuButton {
	margin-right: 0.6rem;
}

.link {
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bolder;
	color: white;
	padding: 0.4rem;
	border-radius: 0.3rem;
	margin: 0 0.5rem;
}

.link:hover {
	background-color: rgba(80, 182, 255, 0.545);
}

.navBar #signUpButton{
	background-color: rgba(253,106,124,255);
}
.Header .dispalyLeftLogin{
	display: flex;	
	flex: 100%;
	flex-direction: row;
	justify-content: flex-end; 
}
.rightSide {	
}
