.About {
    background-image: url("https://i.imgur.com/Yzh6yqd.jpeg");
    background-attachment: fixed;
    background-size: 100%;
    margin-top: -2%;
}

.aboutContainer {
    margin-top: 120px ;
}

.Box {
    margin-top: -40px !important;
}

.Item {
    /* background-color: transparent !important;
    background-color: rgba(240, 248, 255, 0.118) !important; */
    /* color: black !important; */
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-bottom: 30px !important;
    /* border: solid rgb(63 81 181) 0.3rem; */

    background-color: transparent !important;
	background-color: #495abb14 !important;

    border-radius: none;
    /* position: relative; MUST FOR ANIMATION */
}

.Item p {
    color: white !important;
}

.Item h1 {
    color: #5f76fc !important;
}

.WhatIsCryptoContainer {
    background: none !important;
    border: none;
}

.WhatIsCryptoContainer h1 {
    color: #495abb !important;
}

.WhatIsCryptoContainer p {
    color: white;
}

.infoItem {
    background: none !important;

    margin-bottom: 80px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;

    margin-left: 100px;
    margin-right: 100px;

    border-radius: 0% !important;
    border-top: 1px solid #3f51b5 !important;
    border-bottom: 1px solid #3f51b5 !important;
}

.About span {
    font-size: 65px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: -.04em;
    padding-left: 300px;
    color: #495abb;
    float: left;

    margin-top: -20px;
}

.paragraph {
    color: white;
    padding-right: 150px;

    margin: 0%;
}

.Icon {
    height: 40px;
    width: 40px;
}

.ListItem{
    color:  white !important;
    text-align: left;
    font-size: 18px;
}

p {
    font-size: 20px;
}

#AboutLearnMoreButton { 
    background-color: #3f51b5; 
}

#onClickDiv {
    background: transparent;
    background-color: #495abb25 !important;
    border: solid rgb(63 81 181) 0.3rem;
    /* background-color: rgb(240, 248, 255) !important; */
    color: rgb(255, 255, 255) !important;

    margin-left: 75px !important;
    margin-right: 50px !important;
    margin-bottom: 30px !important;

    padding: 20px;
    text-align: justify;

    height: auto;
    width: auto;

    font-size: 20px;
}

.HiddenDivHeading {
    text-transform: capitalize;
    text-align: center;
    color: #495abb;
}

.About h4 {
    color: #495abb;
}

ul {
    list-style: none;
}

.About ul li::before {
    content: "\2022";
    color: #5f76fc;
    font-weight: bold; 
    display: inline-block;
    width: 1em;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* ANIMATION */
/* .Item::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
.Item:hover::before {
    animation: animate 0.5s linear forwards;
}
@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #495abb;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
 
    50% {
        width: 100%;
        height: 0;
        border-top-color: #495abb;
        border-right-color: #495abb;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
 
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #495abb;
        border-right-color: #495abb;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.Item::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
}
 
.Item:hover::after {
    animation: animates 0.5s linear forwards;
}
 
@keyframes animates {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #495abb;
    }
 
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #495abb;
        border-left-color: #495abb;
    }
 
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #495abb;
        border-left-color: #495abb;
    }
} */
/* -------------------------------------------------------------------------------------------------------------- */