.About {
    background-image: url("https://i.imgur.com/Yzh6yqd.jpeg");
    background-attachment: fixed;
    background-size: 100%;
}

.aboutContainer {
    margin-top: 120px ;
}

.Box {
    margin-top: -40px !important;
}

.Item {
    background-color: rgb(240, 248, 255) !important;
    color: black !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-bottom: 30px !important;
    /* opacity: 0.5 !important; */
    border: solid rgb(63 81 181) 0.3rem;

}

.infoGrid{
    margin-bottom: 30px;
}

.infoItem {
    background: none !important;
    margin-top: 50px !important;
    margin-bottom: 80px !important;
}

.span {
    font-size: 70px;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: -.04em;
    padding-left: 300px;
    color: #467df9;
    float: left;

    margin-top: -20px;
}

.paragraph {
    color: rgb(203, 231, 255);
    padding-right: 300px;

    margin: 0%;
}

.Icon {
    height: 40px;
    width: 40px;
}

.ListItem {
    text-align: left;
    font-size: 18px;
}

p {
    font-size: 20px;
}

#AboutLearnMoreButton { 
    background-color: #495abb;
}

#test {
    color:  red !important;
}

#onClickDiv {
    background: transparent;
    background-color: #495abb25 !important;
    border: solid rgb(63 81 181) 0.3rem;
    /* background-color: rgb(240, 248, 255) !important; */
    color: rgb(255, 255, 255) !important;

    margin-left: 75px !important;
    margin-right: 50px !important;
    margin-bottom: 30px !important;

    padding: 20px;
    text-align: justify;

    height: auto;
    width: auto;

    font-size: 20px;
}

.HiddenDivHeading {
    text-transform: capitalize;
    text-align: center;
    color: #495abb;
}

.About h4 {
    color: #495abb;
}