body {
    background-image: url("https://i.imgur.com/Yzh6yqd.jpeg");
    background-size: 100%;
}

.Container {
    margin-top: 120px;
}

.Box {
}

.Item {
    color: black !important;
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.Image {
    height: 40px;
    width: 40px;
}

.ListItem {
    text-align: left;
}