.Simulation {
	padding-bottom: 30px;
}

#HomeContainer {
	padding-top: 50px;
	
	margin-left: 50px;
	margin-right: 50px;
}
	
#HomeContainer img {
	float: right !important;
}  

#HomeContainer p {
	color: white;
	text-align: center;

	padding-left: 30px;
	padding-right: 550px;
	padding-bottom: 30px;
}

#HomeContainer h1 {
	font-size: 50px;
	font-family: monospace;
	letter-spacing: 5px;
	color: #495abb;

	padding-top: 50px;
	padding-bottom: 30px;
}

.HomeSticker {
	height: 500px;
	width: 500px;
}

.HomeContainer {
	margin-left: 70px;
	margin-right: 70px;

}

.HomeItem {
	background-color: transparent !important;
	background-color: #495abb1b !important;

	border-radius: 15px;

	margin-left: 10px;
	margin-right: 10px;

	width: 400px;
	height: 200px;

	display: flex;
	justify-content: center;
    align-items: center;
}

.HomeItem p {
	color: white;
	text-align: center;
	
}

.HomeItem span {
	font-weight: bold;
	font-style: italic;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #5f76fc;
}

#HomeGetStartedButton {
	background-color: #495abb;
}