.NotFound404 {
    background-image: url('https://imgur.com/T1yU5E6.jpg') !important;
    background-size: 100% !important;
    height: 880px;
}

#Error404Button {
    margin-top: 430px;
    margin-right: 950px;
    padding: 10px 20px;

    background-color: #012178;
    color: white;

    border-radius: 40px;
}
	   /* background: #33cc99;
                color:#fff;
                font-family: 'Open Sans', sans-serif;
                height:800px;
                overflow: hidden;
            }
            .c{
                text-align: center;
                display: block;
                position: relative;
                width:80%;
                margin:100px auto;
            }
            ._404{
                font-size: 220px;
                position: relative;
                display: inline-block;
                z-index: 2;
                height: 250px;
                letter-spacing: 15px;
            }
            ._1{
                text-align:center;
                display:block;
                position:relative;
                letter-spacing: 12px;
                font-size: 4em;
                line-height: 80%;
            }
            ._2{
                text-align:center;
                display:block;
                position: relative;
                font-size: 20px;
            }
            .text{
                font-size: 70px;
                text-align: center;
                position: relative;
                display: inline-block;
                margin: 19px 0px 0px 0px;
                top: 256.301px;
                z-index: 3;
                width: 100%;
                line-height: 1.2em;
                display: inline-block;
            }
           
            .right{
                float:right;
                width:60%;
            } */