.Header-Container{
    background-color: aliceblue;

    padding-left: 15px;
    padding-right: 15px;

    margin-left: 200px;
    margin-right: 200px;
}

.money-text{
   margin-left: 2em; ;
}

h1{
    margin-left: 0.7em;
}

.Title {
    display: flex;
    align-items: center;
    justify-items: normal;
    /* background-color: rgb(153, 153, 153); */
    background-color: aliceblue;

}

.my-chart.line {
    height: 200px;
    max-width: 400px;
    margin: 0 auto;
  }