.Simulation {
	background-image: url("https://i.imgur.com/Yzh6yqd.jpeg");
    background-attachment: fixed;
    background-size: 100%;
}

.container {
	margin-top: 50px;
  	display: flex;
  	padding: 0 55px;
	margin-top: 50px;
}

.title {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: bolder;
	font-size: larger;
	font-size: 2rem;
	color: white(73, 70, 70, 0.628);
}

hr {
	margin: 0.7rem 0;
	border: none;
	/* border: solid #1976d2 0.15rem;
	background-color: #1976d2;
	border-radius: 5px; */
	width: 100%;
}
#sliderBackground{
	display: flex;
	margin: 0px;
	margin-top: 30px;
	background-color: rgb(20, 20, 20);
	border-radius: 20px;	
	padding: 0px;
}