.SignUp {
    background-image: url("https://i.imgur.com/8roINHr.jpeg");
    background-size: 100%;

    display: flex;
    flex-direction: column;    
    padding-top: 50px;
    padding-bottom: 50px;
}
.SignUp #buttonLoginInRegister{
    background-color: white;
    color: #3f51b5;
    margin: 0%;
    padding: 0%;
    padding-bottom: 5px;
    border: #3f51b5;
    border-width: 1px;
}